html {
    color-scheme: light dark;
}
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    background-color: darkslategray;
}
#topHeading {
    position: absolute;
    top: 10px;
    right: 600px;
}
#topHeading1 {
    position: absolute;
    top: 30px;
    right: 45%;
}

div .heading {
   
    /*text-align: center;*/
    text-decoration:underline;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav li{
    float: left;
    list-style: none;

    /*flex-direction: row;
    flex-wrap: wrap;*/
    border: 2px solid red;
}
nav a {
    display: block;
    width: 100px;
    margin-top: 8px;
    padding: 10px 5px;
    color: whitesmoke;
    text-decoration: none;
    border: 3px solid burlywood;
}

nav a:hover{
    text-decoration: underline;
    background-color: dimgray;
}

.heading1 span{
    width: 100px;
    color: black;
    background-color: aliceblue;
    /*border: 2px solid skyblue;*/
}

div.foot_start {
    text-align: center;
    position:absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;

    background-color: black;
    /*border: 2px solid red;*/
    
}
span.foot_name {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration:underline;
}
span.foot_mail a {
    color: rgb(254, 254, 251);
    font-size: 19px;
    text-decoration: none;
}
span.foot_stop {
    font-weight: 400;
    font-size:22px;
}


